<body>
  <main class="main-content">
      <div class="animated fadeIn">
          <h1 class="text-center mb-5" style="font-weight: bold; margin-top: 20px;">Usuarios</h1>
          
          <!-- Fila para el botón y el buscador -->
          <div class="row justify-content-between align-items-center" style="margin-top: 50px;">
              <div class="col-md-6">
                  <!-- Input de búsqueda -->
                  <input type="text" class="form-control" placeholder="Buscar usuario..." (input)="buscarUsuario($event)">
              </div>
              <div class="col-md-6 d-flex justify-content-end">
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalUsuario" (click)="NuevoUsuario()">
                      <i class="fas fa-user-plus me-2"></i>Añadir Usuario
                  </button>
              </div>
          </div>

          <!-- Tabla de usuarios -->
          <div class="row">
              <table class="table table-hover" style="margin-top: 20px;">
                  <thead>
                      <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Username</th>
                          <th scope="col">Cargo</th>
                          <th scope="col">Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let us of VectorUsuarios | filter:searchTerm">
                          <th scope="row">{{us.id}}</th>
                          <td>{{us.username}}</td>
                          <td>{{us.rol}}</td>
                          <td>
                              <button type="button" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#modalUsuario" (click)="EditarUsuario(us)">
                                  <i class="fas fa-pencil-alt me-1"></i>Editar Usuario
                              </button>
                              <button type="button" class="btn btn-danger me-1" (click)="EliminarUsuario(us)">
                                  <i class="fas fa-trash me-1"></i>Eliminar Usuario
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </main>
</body>

<!-- Modal -->
<div class="modal fade" id="modalUsuario" #modalUsuario data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalUsuarioLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content" [ngClass]="{'modal-success': isNew, 'modal-primary': !isNew}">
          <div class="modal-header" [ngClass]="{'bg-success': isNew, 'bg-primary': !isNew}">
              <h1 class="modal-title fs-5" id="modalUsuarioLabel">{{isNew?'Añadir Usuario':'Editar Usuario:'}} {{this.UsuarioSeleccionado?.username}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <app-cu-usuario [usuario]="UsuarioSeleccionado"></app-cu-usuario>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" [ngClass]="{'btn-success': isNew, 'btn-primary': !isNew}" (click)="GuardarUsuario()">Guardar</button>
          </div>
      </div>
  </div>
</div>
