<body>
  <main class="main-content">
    <div class="animated fadeIn">
      <h1 class="text-center mb-5" style="font-weight: bold; margin-top: 20px;">Clientes</h1>
      <!-- Fila para el botón y el buscador -->
      <div class="row justify-content-between align-items-center" style="margin-top: 50px;">
        <div class="col-md-6">
          <!-- Input de búsqueda -->
          <input type="text" class="form-control" placeholder="Buscar cliente..." (input)="buscarCliente($event)">
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCliente"
            (click)="NuevoCliente()"><i class="fas fa-user-plus me-2"></i>Añadir Cliente</button>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover" style="margin-top: 20px;">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Primer Apellido</th>
              <th scope="col">Segundo Apellido</th>
              <th scope="col">Direccion</th>
              <th scope="col">Telefono</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cli of VectorClientes | filter: searchTerm">
              <th scope="row">{{cli.id}}</th>
              <td>{{cli.nombre}}</td>
              <td>{{cli.primerApellido}}</td>
              <td>{{cli.segundoApellido}}</td>
              <td>{{cli.direccion}}</td>
              <td>{{cli.telefono}}</td>
              <td>
                <button type="button" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#modalCliente"
                  (click)="EditarCliente(cli)"><i class="fas fa-pencil-alt me-1"></i>Editar Cliente</button>
                <button type="button" class="btn btn-danger me-1" (click)="EliminarCliente(cli)"><i
                    class="fas fa-trash me-1"></i>Eliminar Cliente</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>

<!-- Modal -->
<div class="modal fade" id="modalCliente" #modalCliente data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalClienteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" [ngClass]="{'modal-success': isNew, 'modal-primary': !isNew}">
      <div class="modal-header" [ngClass]="{'bg-success': isNew, 'bg-primary': !isNew}">
        <h1 class="modal-title fs-5" id="modalClienteLabel">{{isNew?'Añadir Cliente':'Editar Cliente:'}}
          {{this.ClienteSeleccionado?.nombre}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-cu-cliente [cliente]="ClienteSeleccionado"></app-cu-cliente>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" [ngClass]="{'btn-success': isNew, 'btn-primary': !isNew}"
          (click)="GuardarCliente()">Guardar</button>
      </div>
    </div>
  </div>
</div>